footer {
  margin-top: 80px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 60px;
}

body {
  background-color: #191919 ;
  color: #dfe3e6;
  text-align: center;
}

#home {
  background: #000000 !important;
}

#home-footer {
  margin: 0%;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  fill: white;
}

.bg-dark {
  background: black !important;
}

#brand-icone {
  fill: #ffffff;
}

.menu-iten {
  padding: 10px;
}

.bg-1 {
  background-image: url("../img/background_top.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 0%;
  position: relative;
  background-attachment: relative;
  background-position: relative;
  margin: 0%;
}

.bg-2 {
  background-image: url("../img/background_mid1.jpg");
  background-size: cover;
  background-position:center center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 0%;
  margin: 0%;
  padding: 0%;
}

#bg-container-top {
  background-color: #0000006e;
<<<<<<< HEAD
  padding: 5%;
  
=======
  padding: 4%;
  width: 100%;
  margin: 10%;
  margin-top: 20%;
  margin-bottom: 0%;
>>>>>>> cb747f9c1522351a5f9acbfcd61d97eb16b4476b
}

#box-cont-top {
  margin: 0%;
  margin-top: 5%;
  font-weight: bold;
  font-size: 100%;
  font-size-adjust: initial;
}

#galeria {
  left: 13%;
  width: 70%;
  padding: 5%;
  padding-top: 10%;
  margin: 3%;
  align-self: center;
}

.carousel-control-prev-icon {
  background-image: url("https://img.icons8.com/color/48/000000/chevron-left.png") !important;
  margin-right: 50%;
  width: 30px;
  height: 30px;
}
 
.carousel-control-next-icon {
  background-image: url("https://img.icons8.com/color/48/000000/chevron-right.png") !important;
  margin-left: 50%;
  width: 30px;
  height: 30px;
}

#box-vid {
  padding: 5%;
  margin: 3%;
  margin-bottom: 0%;
  margin-top: 0%;
  padding-top: 1%;
}

#box-vid-cont {
  width: 100%;
  margin: 0%;
  margin-top: 2%;
  font-size: 100%;
  text-align: center;
}

#description {
  margin: 2%;
}

iframe {
  padding: 2%;
  background:url("../img/bordaDeVideo.png");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: absolute;
  background-position-x: 50%;
  background-position-y: 50%;
}



/* acresentado aparti daqui*/
h1 {
  text-shadow: 2px 4px rgba(0,0,0,0.5);
  font-size: 4rem;
}


.modal {
  color: black;
}

.cardList {
  color: #000000;
}

.box-cartas {
  padding: 40px;
  background: #ffffff;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.bg-cartas {
  border-radius: 0;
  background-color: #191919;
  background-image: url(../img/background_cartas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.image-width {
  margin:5px;
}

.modal-image-width {
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

footer {
  border-top: 2px solid #252525;
  padding: 30px 150px;
  text-align: left;
}

a {
  color: #dfe3e6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #dfe3e6;
}

a:visited {
  color: #dfe3e6;
}

@media (min-width: 768px) { 
  .image-width {
  //width: 20%;
  margin:10px;
  }
  .magic-sm-hide{
		display: none;
	}
}

@media only screen and (max-width: 576px){
.bg-1{
		background-image: none;
	}
	.magic-xs-hide{
		display: none;
	}
  h1 {
    font-size: 2rem;
  }
  .bg-cartas {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .image-width {
  //width: 20%;
  margin:10px;
}

  .box-cartas {
    border-radius: 0;
    width: 100%;
    padding: 30px;
  }


  .modal-image-width {
  width: 60%;
  height: 60%;
  align: center;
  margin-bottom: 20px;
}

  footer {
    //text-align: center;
    padding: 30px 70px;
  }

  a {
  color: #dfe3e6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #dfe3e6;
}

a:visited {
  color: #dfe3e6;
}
}
